---
import type { CollectionEntry } from 'astro:content';
import { Picture } from "astro-imagetools/components";
interface Props {
  post:  CollectionEntry<'posts'>;
  showTag?: boolean;
}

const { post,showTag } = Astro.props;
const url = "/posts/" + post.slug;
---
<article>
	<a href={url} class="block">
		<Picture src={post.data.coverImg}  placeholder="dominantColor" attributes={{
			img:{
				class:"max-h-64 w-full object-cover rounded-lg"
			}
		}} 
		layout="fullWidth"
		alt=""/>
	</a>
	<header class="py-4">
		<a href={url} class="hover:underline"><h1 class="font-bold text-3xl">{post.data.title}</h1></a>
		<div class="flex items-center justify-start pt-2 text-lg">
		<p>{post.data.publishDate} </p>
		<div class="px-3"></div>
		{showTag && post.data.collection && <a class="text-sky-400" href={`/collections/${post.data.collection}`}>#{post.data.collection}</a>}
	</div>
	
	</header>

	<p>{post.data.description}</p>
	
</article>
</a>
