---
import {Picture} from 'astro-imagetools/components';
import ProseContent from './ProseContent.astro';

export interface Props {
	title: string;
	publishDate: string;
	coverImg: string;
	alt: string;
}

const { title, coverImg, publishDate,alt } = Astro.props;
---
<div class="layout">
	<ProseContent>
		{coverImg && <Picture src={coverImg} alt={alt}/>}
		<div>
			<header>
				<p class="publish-date">{publishDate}</p>
				<h1 class="title">{title}</h1>
			</header>
			<main>
				<slot />
			</main>
		</div>
	</ProseContent>
</div>

