---
import {Picture} from 'astro-imagetools/components';

export interface Props {
	title: string;
	publishDate: string;
	coverImg: string;
	alt: string;
}

const { title, coverImg, publishDate,alt } = Astro.props;
---
<div class="layout">
	<article class="prose lg:prose-xl mx-auto">
		<div>
			<header>
				{coverImg && <Picture src={coverImg} alt={alt}/>}
				<p class="publish-date">{publishDate}</p>
				<h1 class="title">{title}</h1>
			</header>
			<main>
				<slot />
			</main>
		</div>
	</article>
</div>

