---
import type { CollectionEntry } from 'astro:content';
import { Picture } from "astro-imagetools/components";
interface Props {
  blog:  CollectionEntry<'blog'>;
  showTag?: boolean;
}

const { blog: post,showTag } = Astro.props;
const url = "/blog/" + post.slug + "/";
---
<article>
	<a href={url} class="block">
		<Picture src={post.data.coverImg}  placeholder="dominantColor" attributes={{
			img:{
				class:"max-h-64 w-full object-cover rounded-lg"
			}
		}} 
		layout="fullWidth"
		alt=""/>
	</a>
	<header class="py-4">
		<a href={url} class="hover:underline font-bold text-3xl">{post.data.title}</a>
		<div class="flex items-center justify-start pt-2 text-lg">
		<p>{post.data.publishDate} </p>
		<div class="px-3"></div>
	</div>
	
	</header>

	<p>{post.data.description}</p>
	
</article>
</a>
