---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---

<article>
	<img src={post.frontmatter.coverImg} class="max-h-64 w-full object-cover rounded-lg" alt="">
	<header class="py-4">
		<a href={post.url} class="hover:underline"><h1 class="font-bold text-3xl">{post.frontmatter.title}</h1></a>
		<p class="text-lg pt-2">{post.frontmatter.publishDate}</p>
	</header>
	<p>{post.frontmatter.description}<a href={post.url} class="italic text-slate-500 hover:underline"> Read more</a></p>
	
</article>
