---
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';
import WrapperWithNav from '../components/WrapperWithNav.astro';


const { content } = Astro.props;
const { title, description, publishDate, coverImg, permalink, alt } = content;
---
<html lang="en">
	<head>
		<BaseHead title={title} description={description} permalink={permalink} image={coverImg}/>
	</head>

	<body>
		<WrapperWithNav>
		<div class="border-b-2 border-slate-300"></div>
    <div class="container mx-auto px-4 py-6 max-w-5xl">
			<BlogPost {title} {coverImg} {publishDate} {alt}>
				<slot />
			</BlogPost>
    </div>
	</WrapperWithNav>
	</body>
</html>